<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Projeto Escola</a>
      </div>
      <ul class="nav navbar-nav"> 
        <li><a [routerLink]="['/ListDisciplina']">discipline</a></li>
        <li><a [routerLink]="['/ListAluno']">Aluno</a></li>
        <li><a [routerLink]="['/ListAlunoNota']">Nota Aluno</a></li>
      </ul>
    </div>
  </nav>
  <div class="container body-content">
    <router-outlet></router-outlet>
    <hr />
    <footer>
        <p>&copy;My ASP.NET Application</p>
    </footer>
  </div>